<% content_for :meta do %>
  <meta name="description" content="Remember everything with flashcards and spaced repetition.">
<% end %>

<div class="container">
  <%= image_tag 'home.svg', class: 'block mx-auto mb-8 md:mb-10 max-w-md w-full' %>

  <div class="flex flex-col items-center text-center mb-6">
    <h1 class="mb-8 md:text-4xl lg:text-5xl text-grey-darkest max-w-md">Memorize everything with flashcards</h1>

    <p class="mb-8 text-xl font-light leading-normal max-w-md">Remember everything with flashcards and spaced repetition. Start learning languages and other subjects now!</p>

    <%= link_to 'Start learning', new_user_registration_path, class: 'btn btn-primary btn-lg tracking-wide mb-8' %>

    <p class="text-sm text-grey-darkest flex items-center">
      <span class="mx-2">Sign in with</span>

      <%= link_to '#', class: 'mx-3' do %>
        <%= image_tag 'icon-twitter.svg' %>
      <% end %>

      <%= link_to '#', class: 'mx-3' do %>
        <%= image_tag 'icon-google.svg' %>
      <% end %>
    </p>
  </div>

  <%= image_tag 'icon-down.svg', class: 'block mx-auto mb-4' %>
</div>

<div class="py-12" style="background-color: #fbfbfc">
  <div class="container">
    <h2 class="heading-1 text-center" style="margin-bottom: 2rem;">How it works</h2>

    <div class="flex flex-col lg:flex-row">
      <div class="lg:w-2/5 mb-6 lg:mb-0">
        <h2 class="heading-2">How it works</h2>

        <p class="text-lg text-grey-darkest font-light leading-normal mb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>

        <p class="text-lg text-grey-darkest font-light leading-normal mb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

      <div class="lg:w-3/5">
        <%= image_tag 'chart.svg', class: 'block lg:ml-auto' %>
      </div>
    </div>
  </div>
</div>

<div id="how-to" class="container py-12">
  <h2 class="heading-2 text-center" style="margin-bottom: 2rem;">How to use flashcards</h2>

  <div class="mb-12 flex flex-col lg:flex-row justify-between">
    <div class="flex-1 mb-12 lg:mb-0 lg:mr-3">
      <h3>
        <span class="pill mr-2">1</span>
        Use your content
      </h3>

      <div class="flex lg:mb-6 lg:justify-between">
        <%= image_tag 'camera-film.svg', class: 'mr-6 lg:mr-0' %>
        <%= image_tag 'photography.svg', class: 'mr-6 lg:mr-0' %>
        <%= image_tag 'console.svg', class: 'mr-6 lg:mr-0' %>
        <%= image_tag 'dj-mixer.svg', class: 'mr-6 lg:mr-0' %>
      </div>
    </div>

    <%= image_tag 'icon-step-arrow.svg', class: 'lg:mx-8 self-center hidden lg:block' %>

    <div class="flex-1 mb-12 lg:mb-0 lg:mr-3">
      <h3>
        <span class="pill mr-2">2</span>
        Create cards
      </h3>

      <div class="mb-4 lg:mb-5">
        <div class="mb-3 text-grey-darker font-medium">
          <span class="word">un marché</span>
          <span class="text-sm">→</span>
          <span class="word mr-1">market</span>
          <span class="text-grey">/maʁ.ʃe/</span>
        </div>
        <div class="mb-3 text-grey-darker font-medium">
          <span class="word">une croissance</span>
          <span class="text-sm">→</span>
          <span class="word mr-1">growth</span>
          <span class="text-grey">/kʁwa.sɑ̃s/</span>
        </div>
        <div class="mb-3 text-grey-darker font-medium">
          <span class="word">une mère</span>
          <span class="text-sm">→</span>
          <span class="word mr-1">mother</span>
          <span class="text-grey">/mɛʁ/</span>
        </div>
      </div>
    </div>

    <%= image_tag 'icon-step-arrow.svg', class: 'lg:mx-8 self-center hidden lg:block' %>

    <div class="flex-1 mb-12 lg:mb-0 lg:mr-3">
      <h3>
        <span class="pill mr-2">3</span>
        Practice daily
      </h3>

      <%= image_tag 'step-03.png', class: 'block w-full max-w-xs' %>
    </div>
  </div>
</div>

<h2 class="heading-1 text-center">Features</h2>

<div id="features" class="container">
  <div class="flex flex-col max-w-sm mx-auto text-center">
    <%= image_tag 'icon-features-01.svg', class: 'block mb-6' %>
    <h3 class="font-medium text-grey-darkest mb-6">Understanding operating systems</h3>
    <p class="font-light text-grey-darkest">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud lorem ipsum dolor sit amet.</p>
  </div>
  <div class="flex flex-col max-w-sm mx-auto text-center">
    <%= image_tag 'icon-features-02.svg', class: 'block mb-6' %>
    <h3 class="font-medium text-grey-darkest mb-6">Understanding operating systems</h3>
    <p class="font-light text-grey-darkest">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud lorem ipsum dolor sit amet.</p>
  </div>
  <div class="flex flex-col max-w-sm mx-auto text-center">
    <%= image_tag 'icon-features-03.svg', class: 'block mb-6' %>
    <h3 class="font-medium text-grey-darkest mb-6">Understanding operating systems</h3>
    <p class="font-light text-grey-darkest">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud lorem ipsum dolor sit amet.</p>
  </div>
  <div class="flex flex-col max-w-sm mx-auto text-center">
    <%= image_tag 'icon-features-04.svg', class: 'block mb-6' %>
    <h3 class="font-medium text-grey-darkest mb-6">Understanding operating systems</h3>
    <p class="font-light text-grey-darkest">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud lorem ipsum dolor sit amet.</p>
  </div>
</div>
