<% content_for :meta do %>
  <meta name="description" content="Remember everything with flashcards and spaced repetition.">
<% end %>

<div class="container">
  <%= image_tag 'home.svg', class: 'block mx-auto mb-8 md:mb-10 max-w-md w-full' %>

  <div class="flex flex-col items-center text-center mb-6">
    <h1 class="mb-8 md:text-4xl lg:text-5xl max-w-md">Memorize everything with flashcards</h1>

    <p class="mb-8 text-xl font-light leading-normal max-w-md">Spacecards uses spaced repetition to help you memorize all kinds of information: words, exam questions, formulas, quotes, etc. Bring your own content—there’s no limit.</p>

    <%= link_to 'Start learning', new_user_registration_path, class: 'btn btn-primary btn-lg tracking-wide mb-8' %>

    <p class="text-sm text-grey-darkest flex items-center">
      <span class="mx-2">Sign in with</span>

      <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'mx-3' do %>
        <%= image_tag 'icon-google.svg' %>
      <% end %>
    </p>
  </div>

  <%= image_tag 'icon-down.svg', class: 'block mx-auto mb-4' %>
</div>

<div class="py-12" style="background-color: #fbfbfc">
  <div class="container">
    <h2 class="heading-1 text-center" style="margin-bottom: 2rem;">How it works</h2>

    <div class="flex flex-col lg:flex-row">
      <div class="lg:w-2/5 mb-6 lg:mb-0">
        <p class="text-lg text-grey-darkest font-light leading-normal mb-6">Start by creating flashcards from your content. These can be words from a book you’re reading, questions for your college exam, lines from a script you’re rehearsing, etc.</p>

        <p class="text-lg text-grey-darkest font-light leading-normal mb-6">Spacecards will then plan your study sessions for each day, in a way that will help you memorize the information—by spreading out material with intervals that increase over time as you progress.</p>

        <p class="text-lg text-grey-darkest font-light leading-normal mb-6">Based on your performance, Spacecards will schedule future sessions. The better you perform, the longer the intervals will be.</p>
      </div>

      <div class="lg:w-3/5">
        <%= image_tag 'chart.svg', class: 'block lg:ml-auto' %>
      </div>
    </div>
  </div>
</div>

<div id="how-to" class="container py-12">
  <h1 class="heading-1 text-center" style="margin-bottom: 2.5rem;">How to use Spacecards</h1>

  <div class="lg:mb-10 flex flex-col lg:flex-row justify-between">
    <div class="flex-1 mb-12 lg:mb-0 lg:mr-3">
      <h3>
        <span class="pill mr-2">1</span>
        Bring your own content
      </h3>

      <div class="flex lg:mb-6 lg:justify-between">
        <%= image_tag 'camera-film.svg', class: 'mr-6 lg:mr-0' %>
        <%= image_tag 'photography.svg', class: 'mr-6 lg:mr-0' %>
        <%= image_tag 'console.svg', class: 'mr-6 lg:mr-0' %>
        <%= image_tag 'dj-mixer.svg', class: 'mr-6 lg:mr-0' %>
      </div>
    </div>

    <%= image_tag 'icon-step-arrow.svg', class: 'lg:mx-8 self-center hidden lg:block' %>

    <div class="flex-1 mb-12 lg:mb-0 lg:mr-3">
      <h3>
        <span class="pill mr-2">2</span>
        Create cards
      </h3>

      <div class="mb-4 lg:mb-5">
        <div class="mb-3 text-grey-darker font-medium">
          <span class="word">un marché</span>
          <span class="text-sm">→</span>
          <span class="word mr-1">market</span>
          <span class="text-grey">/maʁ.ʃe/</span>
        </div>
        <div class="mb-3 text-grey-darker font-medium">
          <span class="word">une croissance</span>
          <span class="text-sm">→</span>
          <span class="word mr-1">growth</span>
          <span class="text-grey">/kʁwa.sɑ̃s/</span>
        </div>
        <div class="mb-3 text-grey-darker font-medium">
          <span class="word">une mère</span>
          <span class="text-sm">→</span>
          <span class="word mr-1">mother</span>
          <span class="text-grey">/mɛʁ/</span>
        </div>
      </div>
    </div>

    <%= image_tag 'icon-step-arrow.svg', class: 'lg:mx-8 self-center hidden lg:block' %>

    <div class="flex-1 mb-12 lg:mb-0 lg:mr-3">
      <h3>
        <span class="pill mr-2">3</span>
        Practice daily
      </h3>

      <%= image_tag 'step-03.png', class: 'block w-full max-w-xs' %>
    </div>
  </div>
</div>

<h2 class="heading-1 text-center" style="margin-bottom: 2rem;">Features</h2>

<div id="features" class="container mb-16">
  <div class="flex flex-col max-w-sm mx-auto text-center">
    <%= image_tag 'icon-features-01.svg', class: 'block mb-6' %>
    <h3 class="font-medium mb-6">Markdown support</h3>
    <p class="font-light text-grey-darkest leading-normal">Use Markdown to emphasize key elements, create lists and add formatting to your flashcards.</p>
  </div>
  <div class="flex flex-col max-w-sm mx-auto text-center">
    <%= image_tag 'icon-features-04.svg', class: 'block mb-6' %>
    <h3 class="font-medium mb-6">Multiple card types</h3>
    <p class="font-light text-grey-darkest leading-normal">One-way & reverse cards, cards with context, images, pronunciation via text-to-speech.</p>
  </div>
</div>

<div id="articles" style="background-color: #fbfbfc">
  <div class="container py-12">
    <h2 class="heading-1 text-center" style="margin-bottom: 2rem;">Articles</h2>

    <p class="md:max-w-md mx-auto text-center mb-12 text-lg font-light leading-normal">“We are not taught how to learn in school, we are taught how to pass tests. The spacing effect is a far more effective way to learn and retain information that works with our brain instead of against it.”</p>

    <div class="flex flex-col md:flex-row">
      <a href="https://qz.com/1211561/how-to-learn-a-language-use-spaced-repetition/" target="_blank" class="article md:flex-1 flex flex-col rounded-lg overflow-hidden md:mx-4 mb-8 md:mb-0 hover:shadow-lg">
        <%= image_tag 'article-01.jpg', class: 'object-cover' %>

        <div class="flex-grow flex flex-col p-5 bg-white">
          <span class="text-grey-dark text-sm mb-3">Feb 23, 2018 — Quartz</span>

          <h3 class="font-medium text-xl mb-3">The scientific, efficient way to learn languages: “spaced repetition”</h3>

          <p class="text-grey-darker font-light leading-normal">Learning a language can be frustrating. Progress often feels slow. Part of that is because there is a lot to learn. But part of it is also that language education often does not utilize the best methods out there.</p>
        </div>
      </a>
      <a href="https://www.theguardian.com/education/2016/jan/23/spaced-repetition-a-hack-to-make-your-brain-store-information" target="_blank" class="article md:flex-1 flex flex-col rounded-lg overflow-hidden md:mx-4 mb-8 md:mb-0 hover:shadow-lg">
        <%= image_tag 'article-02.jpg', class: 'object-cover' %>

        <div class="flex-grow flex flex-col p-5 bg-white">
          <span class="text-grey-dark text-sm mb-3">Jan 23, 2016 — The Guardian</span>

          <h3 class="font-medium text-xl mb-3">Spaced repetition: a hack to make your brain store information </h3>

          <p class="text-grey-darker font-light leading-normal">The way we think about health has been revolutionised by our growing evidence of how the body works. Yet the way most of us approach learning remains the same as it has for centuries.</p>
        </div>
      </a>
      <a href="https://fs.blog/2018/12/spacing-effect/" target="_blank" class="article md:flex-1 flex flex-col rounded-lg overflow-hidden md:mx-4 mb-8 md:mb-0 hover:shadow-lg">
        <%= image_tag 'article-03.png', class: 'object-cover' %>

        <div class="flex-grow flex flex-col p-5 bg-white">
          <span class="text-grey-dark text-sm mb-3">Dec 18, 2018 — Farnam Street</span>

          <h3 class="font-medium text-xl mb-3">The Spacing Effect: How to Improve Learning and Maximize Retention</h3>

          <p class="text-grey-darker font-light leading-normal">We are not taught how to learn in school, we are taught how to pass tests. The spacing effect is a far more effective way to learn and retain information that works with our brain instead of against it.</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div id="faq" class="container py-12">
  <h2 class="heading-1 text-center" style="margin-bottom: 2rem;">FAQ</h2>

  <div class="sm:max-w-sm lg:max-w-md mx-auto">
    <div class="faq-item" data-controller="accordion">
      <a href="" class="faq-item-heading" data-action="accordion#toggle">
        <h3 class="font-medium text-lg mb-0">Lorem ipsum dolor sit amet, consectetur</h3>
        <span class="faq-item-button text-grey-dark text-lg" data-target="accordion.button">+</span>
      </a>
      <p class="faq-item-content" data-target="accordion.content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      </p>
    </div>
    <div class="faq-item" data-controller="accordion">
      <a href="" class="faq-item-heading" data-action="accordion#toggle">
        <h3 class="font-medium text-lg mb-0">Lorem ipsum dolor sit amet, consectetur</h3>
        <span class="faq-item-button text-grey-dark text-lg" data-target="accordion.button">+</span>
      </a>
      <p class="faq-item-content" data-target="accordion.content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      </p>
    </div>
    <div class="faq-item" data-controller="accordion">
      <a href="" class="faq-item-heading" data-action="accordion#toggle">
        <h3 class="font-medium text-lg mb-0">Lorem ipsum dolor sit amet, consectetur</h3>
        <span class="faq-item-button text-grey-dark text-lg" data-target="accordion.button">+</span>
      </a>
      <p class="faq-item-content" data-target="accordion.content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      </p>
    </div>
    <div class="faq-item" data-controller="accordion">
      <a href="" class="faq-item-heading" data-action="accordion#toggle">
        <h3 class="font-medium text-lg mb-0">Lorem ipsum dolor sit amet, consectetur</h3>
        <span class="faq-item-button text-grey-dark text-lg" data-target="accordion.button">+</span>
      </a>
      <p class="faq-item-content" data-target="accordion.content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      </p>
    </div>
  </div>
</div>
