<h1 class="font-normal text-3xl mb-4">
  <%= link_to @deck.name, @deck, class: 'text-black no-underline' %> → Study
</h1>

<div class="" data-controller="recalls">
  <div class="card mb-5">
    <div class="card-front py-4 border-b">
      Front
    </div>
    <div class="py-4" data-target="recalls.back">
    </div>
  </div>

  <a href="#" class="btn btn-outline-primary" data-target="recalls.showResponseButton" data-action="recalls#showResponse">Show answer</a>

  <div class="hidden" id="response-buttons" data-target="recalls.responseButtons">
    <%= button_to '1 – Bad', card_recalls_path(@card), params: { quality: 1 }, class: 'btn btn-outline-primary' %>
    <%= button_to '2 – Okay', card_recalls_path(@card), params: { quality: 2 }, class: 'btn btn-outline-primary' %>
    <%= button_to '3 – Good', card_recalls_path(@card), params: { quality: 3 }, class: 'btn btn-outline-primary' %>
    <%= button_to '4 – Excellent', card_recalls_path(@card), params: { quality: 4 }, class: 'btn btn-outline-primary' %>
  </div>
</div>
