<%= content_for :title, 'Password recovery' %>

<div class="my-6 md:my-12">
  <h1 class="heading-1 text-center">Password recovery</h1>

  <div class="max-w-sm mx-auto">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%#= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email,
                          autofocus: true, autocomplete: 'email', required: true,
                          class: 'form-control' %>
      </div>

      <div class="actions my-6">
        <%= f.submit 'Reset password', class: 'btn btn-primary btn-lg w-full' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
