<% cache card do %>
  <div id="<%= dom_id(card) %>" class="card" data-controller="edit-card">
    <div class="card-content active" data-target="edit-card.card">
      <div class="card-front">
        <%= card.front %>
      </div>

      <div class="card-back">
        <%= card.back %>
      </div>
    </div>

    <%= form_with model: card, class: 'card-form', data: { target: 'edit-card.form' } do |f| %>
      <%= f.text_field :front, required: true, placeholder: true, data: { target: 'edit-card.formFront' } %>
      <%= f.text_field :back, required: true, placeholder: true, data: { target: 'edit-card.formBack' } %>

      <%= f.submit 'Save', class: 'btn btn-primary mb-4 md:mb-0' %>
    <% end %>

    <div class="card-actions">
      <%= link_to '#', class: 'mr-5 text-grey-dark hover:text-indigo-dark', data: { action: 'edit-card#toggle' } do %>
        <i class="material-icons mr-1">edit</i>
        Edit
      <% end %>

      <%= link_to card_path(card), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'text-grey-dark hover:text-red-dark' do %>
        <i class="material-icons mr-1">delete</i>
        Delete
      <% end %>
    </div>
  </div>
<% end %>
