<h1 class="heading-2 text-center">
  <%= @deck.name %> <span class="font-light mx-2">→</span> New card
</h1>

<%= form_with model: @card, url: deck_cards_path(@deck), local: true, class: 'w-full md:w-2/3 lg:w-1/2' do |f| %>
  <div class="field">
    <%= f.label :front %>
    <%= f.text_area :front, required: true, placeholder: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :back %>
    <%= f.text_area :back, required: true, placeholder: true, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
