<h1 class="font-normal text-3xl">
  <%= link_to @deck.name, @deck %> → New card
</h1>

<%= form_with model: @card, url: deck_cards_path(@deck), local: true, class: 'w-64' do |f| %>
  <%= f.label :front %>
  <%= f.text_area :front, required: true, class: 'form-control' %>

  <%= f.label :back %>
  <%= f.text_area :back, required: true, class: 'form-control' %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
