<div class="deck">
  <div class="">
    <div class="text-lg mb-2">
      <%= link_to deck.name, deck_study_path(deck) %>
    </div>
    <%= link_to deck_cards_path(deck), class: 'text-sm text-grey' do %>
      <%= deck.cards_count %> <%= 'card'.pluralize(deck.cards_count) %>
    <% end %>
  </div>
  <div class="flex-no-shrink text-right">
    <%= link_to deck_study_path(deck), class: 'mr-5 text-grey-dark hover:text-indigo-dark' do %>
      <i class="material-icons mr-1" style="font-size:.925rem">play_arrow</i>
      Study
    <% end %>

    <%= link_to deck_cards_path(deck), class: 'mr-5 text-grey-dark hover:text-indigo-dark' do %>
      <i class="material-icons mr-1" style="font-size:.925rem">list</i>
      Browse
    <% end %>

    <%= link_to edit_deck_path(deck), class: 'text-grey-dark hover:text-indigo-dark' do %>
      <i class="material-icons mr-1" style="font-size:.925rem">settings</i>
      Settings
    <% end %>
  </div>
</div>
