<h1 class="text-grey-darkest">
  <%= link_to @deck.name, @deck %> → Edit
</h1>

<%= form_with model: @deck, local: true, class: 'w-64' do |f| %>
  <h2>Deck</h2>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: true, class: 'form-control' %>
  </div>

  <h2 class="mt-6">Review</h2>

  <div class="field">
    <%= f.label :new_cards_per_day %>
    <%= f.number_field :new_cards_per_day, min: 0, required: true, placeholder: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :reviews_per_day %>
    <%= f.number_field :reviews_per_day, min: 0, required: true, placeholder: true, class: 'form-control' %>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
