<%= content_for :title, 'Sign up' %>

<div class="w-full lg:w-1/2 mx-auto">
  <h1 class="text-grey-darkest font-bold text-4xl mb-3">Sign up</h1>

  <p class="mb-5 text-grey-darker">Create an account to add your own cards and track progress.</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%#= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, required: true, placeholder: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, required: true, placeholder: true, autocomplete: 'new-password', class: 'form-control' %>
    </div>

    <div class="actions mb-6">
      <%= f.submit 'Start learning', class: 'btn btn-primary btn-lg w-full mt-2' %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
